#extends("/page/layout/frametwo.vm")

#block("body")
#require("./rule.css")
<section id="content" class="art-content">
<div class="container">
  <div id="markup">
    <article id="content" class="markdown-body">
      <h1>后台接口规范</h1>
      <h2>1 前言</h2>
      <p>本文档的目标是使接口代码风格保持一致，容易被理解和被维护。</p>
      <p>虽然本文档是针对Rap接口设计的，但是在定义使用各种接口时时，适用的部分也应尽量遵循本文档的约定。</p>
      <h2>2 mock风格</h2>
      <h3>2.1模块</h3>
      <h5>[强制] 根据项目需求和项目原型划分模块，并拟定模块名称</h5>
      <h5>[强制] 模块名必须全部用项目名_模块名称(邻亲_服务),填写项目描述，模块名分隔符用下划线连接，添加项目成员，项目归属.如：</h5>
      <blockquote>
        <ul>
          <li>项目名称：邻亲_生活</li>
          <li>项目描述: 生活服务模块(life)</li>
          <li>项目成员： cjb (蔡剑镔) yjl (yjl) </li>
        </ul>
      </blockquote>
      <h3>2.2 模块名</h3>
      <h5>[强制] 英文模块名全部采用小写方式,有复数结构时，要采用复数命名法，如有缩写采用缩写比如说：</h5>
      <blockquote>
        <p>scripts, styles, images, data-models</p>
        <p>评论 comment 缩写  cmt</p>
      </blockquote>
      <h3>2.3 模块页面接口制定规则</h3>
      <h4>2.3.1 命名</h4>
      <h5>[强制] 接口命名：操作说明-请求方式-[完成]  (服务添加页面-同步)</h5>
      <blockquote>
        <ul>
          <li>请求方式有同步和异步(get | post)</li>
          <li>以中划线分割</li>
        </ul>
      </blockquote>
      <h5>[强制] 页面路径命名：/[平台]/模块/页面/[操作]/index.do</h5>
      <blockquote>
        <ul>
          <li>平台：后台(/admin),前台(/user)等,特殊情景可不选平台</li>
          <li>所有命名采用小写</li>
        </ul>
      </blockquote>
      <h5>[强制] ajax路径命名：/[平台]/模块/页面/操作Ajax.do</h5>
      <blockquote>
        <ul>
          <li>平台：后台(/admin),前台(/user)等,特殊情景可不选平台</li>
          <li>操作命名方式采用驼峰式命名</li>
          <li>关键字：ajax</li>
        </ul>
      </blockquote>
      <div class="codehilite">
        <pre><span class="cm">/***********************</span>
<span class="cm"> * 常用的操作命名</span>
<span class="cm"> * 保存 save开头</span>
<span class="cm"> * 获取 find开头</span>
<span class="cm"> * 删除 del 开头</span>
<span class="cm"> * 插件 plug开头</span>
<span class="cm"> ************************/</span>

<span class="p">{</span>
    <span class="s2">&quot;findPageAjax&quot;</span><span class="o">:</span><span class="s2">&quot;分页获取&quot;</span><span class="p">,</span>
    <span class="s2">&quot;delBatchAjax&quot;</span><span class="o">:</span><span class="s2">&quot;批量删除&quot;</span><span class="p">,</span>
    <span class="s2">&quot;delAjax&quot;</span><span class="o">:</span><span class="s2">&quot;单条删除&quot;</span><span class="p">,</span>
    <span class="s2">&quot;saveAjax&quot;</span><span class="o">:</span><span class="s2">&quot;单条保存&quot;</span><span class="p">,</span>
    <span class="s2">&quot;plugGoodsAjax&quot;</span><span class="o">:</span><span class="s2">&quot;选择商品插件获取商品&quot;</span>
<span class="p">};</span>
</pre>
      </div>
      <h4>2.3.2 填写规范</h4>
      <h5>[强制] 模块一个功能块一个tab页，一个功能块包含多个页面，一个页面接口包含同步接口、页面操作接口</h5>
      <h5>[强制] 添加接口需要填写操作名称、请求类型、请求链接、说明、返回格式(对象{})</h5>
      <h6>说明</h6>
      <blockquote>
        <p>同步：需要在说明中填写返回页面，例如：/life/server/server.vm</p>
        <p>异步：说明选填</p>
      </blockquote>
      <h6>请求类型</h6>
      <blockquote>
        <p>同步get，异步全部post</p>
      </blockquote>
      <h5>[强制] 表单的变量名、含义、类型、mock数据全部填写</h5>
      <h5>[建议] 填写时建议采用json导入，并保留json对象</h5>
      <h5>[强制] 重大修改，或者需求修改，只使用【慢存】并写入log。修改代码接口时需要更新rap接口，并和相关人员沟通说明。</h5>
      <h2>3 变量声明</h2>
      <h3>3.1 变量</h3>
      <h5>[强制] 使用驼峰式命名变量</h5>
      <p>示例：</p>
      <table>
        <thead>
          <tr>
            <th>变量名</th>
            <th>含义</th>
            <th>类型</th>
            <th>备注</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>imgUrl</td>
            <td>图片路径</td>
            <td>number</td>
            <td>@mock=0</td>
          </tr>
        </tbody>
      </table>
      <h5>[建议] 涉及Android的，一律大写第一个字母</h5>
      <p>示例：</p>
      <table>
        <thead>
          <tr>
            <th>变量名</th>
            <th>含义</th>
            <th>类型</th>
            <th>备注</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>AndroidVersion</td>
            <td>安卓版本号</td>
            <td>number</td>
            <td>@mock=0</td>
          </tr>
        </tbody>
      </table>
      <h5>[建议] 涉及iOS的，一律小写第一个，大写后两个字母</h5>
      <p>示例：</p>
      <table>
        <thead>
          <tr>
            <th>变量名</th>
            <th>含义</th>
            <th>类型</th>
            <th>备注</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>iOSVersion</td>
            <td>iOS版本号</td>
            <td>number</td>
            <td>@mock=0</td>
          </tr>
        </tbody>
      </table>
      <h5>[强制] 禁止使用数据库关键词 create,order,desc,date等。</h5>
      <h5>[强制] 涉及页面初始化<code>script</code>变量，一律需要在含义中注明(<code>json3</code>)</h5>
      <h5>[强制] 需要填写含义、类型、mock数据</h5>
      <table>
        <thead>
          <tr>
            <th>变量名</th>
            <th>含义</th>
            <th>类型</th>
            <th>备注</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>business</td>
            <td>业务类型json3(0: 添加, 1: 修改)</td>
            <td>number</td>
            <td>@mock=0</td>
          </tr>
        </tbody>
      </table>
      <h3>3.2 ajax请求参数</h3>
      <h5>[强制] 请求参数变量名含义包括对变量的解释，特殊值注明，是否需要校验，校验规则：</h5>
      <h4>3.2.1 校验填写规则</h4>
      <blockquote>
        <ul>
          <li>[R]:需要校验,不需要可不填</li>
          <li>min: 最小值、最小长度</li>
          <li>max: 最大值、最大长度</li>
          <li>http:链接校验以http开头</li>
          <li>phone:手机号 (/^(0|86|17951)?(13[0-9]|15[012356789]|18[0-9]|14[57]|17[0-9])[0-9]{8}$/)</li>
          <li>tel: 固话校验 ()</li>
          <li>email:邮箱 (/^([a-zA-Z0-9]+[_|_|.]?)<em>[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|_|.]?)</em>[a-zA-Z0-9]+.[a-zA-Z]{2,3}$/)</li>
          <li>date:日期 </li>
          <li></li>
        </ul>
      </blockquote>
      <h4>3.2.2 特殊值</h4>
      <h5>[强制]  不限：'empty'</h5>
      <h5>[强制]  0:下架,1:上架</h5>
      <h5>[强制]  json3类型的参数使用 orgStr</h5>
      <p>示例：添加分类下的添加接口</p>
      <table>
        <thead>
          <tr>
            <th>变量名</th>
            <th>含义</th>
            <th>类型</th>
            <th>备注</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>name</td>
            <td>[R]类型名称 (min=1,max=30)</td>
            <td>string</td>
            <td>---</td>
          </tr>
          <tr>
            <td>state</td>
            <td>[R]状态 (0=下架,1=上架 )</td>
            <td>string</td>
            <td>---</td>
          </tr>
        </tbody>
      </table>
      <p>示例：json3类型</p>
      <table>
        <thead>
          <tr>
            <th>变量名</th>
            <th>含义</th>
            <th>类型</th>
            <th>备注</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>orgStr</td>
            <td>类型名称 json3</td>
            <td>array[object]</td>
            <td>---</td>
          </tr>
        </tbody>
      </table>
      <div class="codehilite">
        <pre><span class="nx">orgStr</span><span class="o">=</span><span class="p">{</span>
    <span class="nx">type</span><span class="o">:</span><span class="s2">&quot;类型&quot;</span><span class="p">,</span>
    <span class="nx">url</span><span class="o">:</span><span class="s2">&quot;链接地址&quot;</span><span class="p">,</span>
    <span class="nx">items</span><span class="o">:</span><span class="p">[{</span>
    <span class="c1">//...</span>
    <span class="p">}]</span>
<span class="p">}</span>
</pre>
      </div>
      <h3>3.3 ajax响应参数</h3>
      <h5>[强制]响应参数列表，包含<code>code</code>、<code>map</code>、<code>msg</code>(提示信息)</h5>
      <h4>3.3.1 code {Number} 返回码（<code>ABCDE</code>）</h4>
      <blockquote>
        <ul>
          <li>A：系统级错误（1）、用户可见（2）、用户不可见（3）</li>
          <li>BC：模块</li>
          <li>DE：具体操作</li>
        </ul>
      </blockquote>
      <div class="codehilite">
        <pre><span class="p">{</span>
    <span class="mi">0</span><span class="o">:</span><span class="s1">&#39;操作成功&#39;</span><span class="p">,</span>
    <span class="o">-</span><span class="mi">1</span><span class="o">:</span><span class="s1">&#39;系统繁忙&#39;</span><span class="p">,</span>
    <span class="mi">10001</span><span class="o">:</span><span class="s1">&#39;远程服务出错&#39;</span><span class="p">,</span>
    <span class="mi">10002</span><span class="o">:</span><span class="s1">&#39;用户不合法&#39;</span><span class="p">,</span>
    <span class="mi">10003</span><span class="o">:</span><span class="s1">&#39;参数错误&#39;</span><span class="p">,</span>
    <span class="mi">10004</span><span class="o">:</span><span class="s1">&#39;该项存在关联项&#39;</span><span class="p">,</span>
    <span class="mi">10005</span><span class="o">:</span><span class="s1">&#39;该项已存在&#39;</span>

<span class="p">}</span>
</pre>
      </div>
      <p>完整code码,请参考<a href="http://">code</a> </p>
      <h4>3.3.2 map  {Object} 数据</h4>
      <blockquote>
        <ol>
          <li>list {Array[Object]} 数组型列表数据 </li>
          <li>item {Object} 单项数据</li>
          <li>pageCount {Number} 总页数</li>
          <li>pageIndex {Number} 当前页数</li>
          <li>items {Array[Object]}|{Object}  子项</li>
        </ol>
      </blockquote>
      <p>示例：</p>
      <div class="codehilite">
        <pre><span class="c1">//第一种</span>
<span class="nx">map</span><span class="o">=</span><span class="p">{</span>
    <span class="nx">list</span><span class="o">:</span><span class="p">[{</span>
    <span class="c1">//...</span>
    <span class="p">},{</span>
    <span class="c1">//...</span>
    <span class="p">}],</span>
    <span class="nx">pageCount</span><span class="o">:</span><span class="mi">5</span><span class="p">,</span>
    <span class="nx">pageIndex</span><span class="o">:</span><span class="mi">1</span>
<span class="p">}</span>

<span class="c1">//第二种</span>
<span class="nx">map</span><span class="o">=</span><span class="p">{</span>
    <span class="nx">item</span><span class="o">:</span><span class="p">{</span>
        <span class="c1">//...</span>
    <span class="p">},</span>
    <span class="nx">pageCount</span><span class="o">:</span><span class="mi">5</span><span class="p">,</span>
    <span class="nx">pageIndex</span><span class="o">:</span><span class="mi">1</span>
<span class="p">}</span>
</pre>
      </div>
      <h4>3.3.3 msg 提示信息</h4>
      <blockquote>
        <p>提示信息需要分为用户可见和用户不可见，用户可见的<code>2</code>开头，用户不可见<code>3</code>开头</p>
      </blockquote>
      <p>示例：</p>
      <table>
        <thead>
          <tr>
            <th>变量名</th>
            <th>含义</th>
            <th>类型</th>
            <th>备注</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>code</td>
            <td>返回码 (min=1,max=30)</td>
            <td>string</td>
            <td>---</td>
          </tr>
          <tr>
            <td>map</td>
            <td>---</td>
            <td>object</td>
            <td>---</td>
          </tr>
          <tr>
            <td>msg</td>
            <td>操作成功</td>
            <td>string</td>
            <td>---</td>
          </tr>
        </tbody>
      </table>
      <div class="codehilite">
        <pre><span class="nx">map</span><span class="o">=</span><span class="p">{</span>
    <span class="nx">list</span><span class="o">:</span><span class="p">[{},{}],</span>
    <span class="nx">pageCount</span><span class="o">:</span><span class="mi">5</span><span class="p">,</span>
    <span class="nx">pageIndex</span><span class="o">:</span><span class="mi">1</span>
<span class="p">}</span>
</pre>
      </div>
      <h3>3.4 页面初始化</h3>
      <blockquote>
        <p>页面初始化，使用config {object}</p>
      </blockquote>
      <p>示例：</p>
      <table>
        <thead>
          <tr>
            <th>变量名</th>
            <th>含义</th>
            <th>类型</th>
            <th>备注</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>config</td>
            <td>页面初始化对象</td>
            <td>object</td>
            <td>---</td>
          </tr>
        </tbody>
      </table>
      <div class="codehilite">
        <pre><span class="nx">config</span><span class="o">=</span><span class="p">{</span>
    <span class="nx">typeList</span><span class="o">:</span><span class="p">{</span>
        <span class="nx">id</span><span class="o">:</span><span class="s2">&quot;类型id&quot;</span><span class="p">,</span>
        <span class="nx">name</span><span class="o">:</span><span class="s2">&quot;类型名称&quot;</span>
    <span class="p">}</span>
    <span class="c1">//...</span>
<span class="p">}</span>
</pre>
      </div>
      <p>示例：</p>
      <table>
        <thead>
          <tr>
            <th>变量名</th>
            <th>含义</th>
            <th>类型</th>
            <th>备注</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>config</td>
            <td>页面初始化对象json3</td>
            <td>object</td>
            <td>---</td>
          </tr>
        </tbody>
      </table>
      <div class="codehilite">
        <pre><span class="o">&lt;</span><span class="nx">script</span> <span class="o">&gt;</span>
    <span class="nx">config</span><span class="o">=</span><span class="p">{</span>
        <span class="nx">typeList</span><span class="o">:</span><span class="p">{</span>
            <span class="nx">id</span><span class="o">:</span><span class="s2">&quot;类型id&quot;</span><span class="p">,</span>
            <span class="nx">name</span><span class="o">:</span><span class="s2">&quot;类型名称&quot;</span>
        <span class="p">}</span>
        <span class="c1">//...</span>
    <span class="p">}</span>
<span class="o">&lt;</span><span class="err">/script&gt;</span>
</pre>
      </div>
      <h2>3.5常用名称</h2>
      <h3>3.5.1常用名称</h3>
      <h5>[强制] 关于完整的命名以及他们的含义，请参考<a href="http://">name</a></h5>
      <div class="codehilite">
        <pre><span class="kd">var</span> <span class="nx">name</span><span class="o">=</span><span class="p">{</span>
    <span class="s2">&quot;title&quot;</span><span class="o">:</span><span class="s2">&quot;标题&quot;</span><span class="p">,</span>
    <span class="s2">&quot;content&quot;</span><span class="o">:</span><span class="s2">&quot;内容&quot;</span><span class="p">,</span>
    <span class="s2">&quot;userName&quot;</span><span class="o">:</span><span class="s2">&quot;用户名&quot;</span><span class="p">,</span>
    <span class="s2">&quot;userHead&quot;</span><span class="o">:</span><span class="s2">&quot;用户头像&quot;</span><span class="p">,</span>
    <span class="s2">&quot;time&quot;</span><span class="o">:</span><span class="s2">&quot;时间&quot;</span><span class="p">,</span>
    <span class="s2">&quot;date&quot;</span><span class="o">:</span><span class="s2">&quot;日期&quot;</span><span class="p">,</span>
    <span class="s2">&quot;page&quot;</span><span class="o">:</span><span class="s2">&quot;页码&quot;</span><span class="p">,</span>
    <span class="s2">&quot;name&quot;</span><span class="o">:</span><span class="s2">&quot;名称&quot;</span><span class="p">,</span>
    <span class="s2">&quot;state&quot;</span><span class="o">:</span><span class="s2">&quot;状态&quot;</span><span class="p">,</span>
    <span class="s2">&quot;type&quot;</span><span class="o">:</span><span class="s2">&quot;类别&quot;</span><span class="p">,</span>
    <span class="s2">&quot;id&quot;</span><span class="o">:</span><span class="s2">&quot;id&quot;</span><span class="p">,</span>
    <span class="s2">&quot;ids&quot;</span><span class="o">:</span><span class="s2">&quot;ids&quot;</span><span class="p">,</span>
    <span class="s2">&quot;items&quot;</span><span class="o">:</span><span class="s2">&quot;list子项列表&quot;</span><span class="p">,</span>
    <span class="s2">&quot;pageCount&quot;</span><span class="o">:</span><span class="s2">&quot;总页数&quot;</span><span class="p">,</span>
    <span class="s2">&quot;pageIndex&quot;</span><span class="o">:</span><span class="s2">&quot;当前页数&quot;</span><span class="p">,</span>
    <span class="s2">&quot;meals&quot;</span><span class="o">:</span><span class="s2">&quot;套餐&quot;</span><span class="p">,</span>
    <span class="s2">&quot;imgUrl&quot;</span><span class="o">:</span><span class="s2">&quot;图片地址&quot;</span><span class="p">,</span>
    <span class="s2">&quot;area&quot;</span><span class="o">:</span><span class="s2">&quot;小区&quot;</span><span class="p">,</span>
    <span class="s2">&quot;areaName&quot;</span><span class="o">:</span><span class="s2">&quot;区域名称&quot;</span><span class="p">,</span>
    <span class="s2">&quot;created&quot;</span><span class="o">:</span><span class="s2">&quot;创建时间&quot;</span><span class="p">,</span>
    <span class="s2">&quot;imgs&quot;</span><span class="o">:</span><span class="s2">&quot;图片列表&quot;</span><span class="p">,</span>
    <span class="s2">&quot;place&quot;</span><span class="o">:</span><span class="s2">&quot;省份-城市&quot;</span><span class="p">,</span>
    <span class="s2">&quot;carNo&quot;</span><span class="o">:</span><span class="s2">&quot;车牌号&quot;</span>
<span class="p">}</span>
</pre>
      </div>
      <hr>
      <h2>4参考资料</h2>
      <ul>
        <li><a href="http://mockjs.com/">mockjs</a> </li>
        <li><a href="http://alloyteam.github.io/code-guide/#js-indentation">alloyteam-code-guide</a></li>
        <li><a href="https://github.com/fex-team/styleguide/">fex-team-styleguide</a></li>
      </ul>
    </article>
  </div>
</div>
</section>
#end   
    #require("page/rule/port.vm")
#end