/**
 * 轮播图页面css
 * @author YJL 2015-07-09
 *
 */

.box-index{
  width: 640px;
  margin: 100px auto 0;
  /*position: relative;*/
}
.breadcrumb li{
	float: left;
}
.mask-tip-title .btn{margin:5px 15px;}
.box-index:after {
 content: "";
  clear:both;
  display: block;
  visibility: visible;
}
.breadcrumb{
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 9999;
  padding: 8px 15px 8px 25px;
  border-top: 1px solid #ccc;
  width: 100%;
  background: #f5f5f5;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  box-shadow: 2px 2px 2px #E4E4E4;
}
