## 轮播图组件布局
## @author YJL 2015/06/27
##依赖的css有page/examples/button/button.css和/page/examples/prompt/prompt.css

##
#extends("/page/layout/frame.vm")
  #block("body")
  <div class="art-content">
  <header class="page-header">
    <h1>轮播图组件</h1>
  </header>
  <h3>说明</h3>
  <div class="docs-waring">
    <ul class="disc-li">
      <li>依赖的css有slider.css</li>
      <li>下划线开头的方法名为私有函数，不允许调用和重新实例化</li>
    </ul>
  </div>
  <h3>示例Demo</h3>
  <div class="docs-waring">
    <ul class="disc-li">
    <li>查看后台轮播图设置Demo<a href="/carousel/admin/index">点击我</a></li>
    <li>查看列表API<a href="/carousel/api">点击我</a></li>
    </ul>
  </div>


  <h3>示例代码</h3>

  <div class="m-example">
    <h4>HTML代码</h4>
    </div>
    <div class="highlight">
        <pre><code  class="language-html" data-lang="html">
       <div class="indexbox"  id="carType" data-upload="index_carousel" data-base='/admin/usermgr/index/'>
          <!-- 列表组件模块引用位置,其路径为("widget/m-carousel/m-carousel.vm")    -->
             # block("m-carousel")
              # widget("widget/m-carousel/m-carousel.vm")
            # end 
        </div>
          </code></pre> 
    </div>
  </div>

 <div class="docs-section">
      <div class="m-example" data-example-id="small-well">
        <h4>JS代码</h4>        
      </div>
      <div class="highlight">
      <pre>
  <code class="language-javascript" data-lang="javascript">
    var bsz = require('widget/m-list/bsz.list.js');//加载list模块
    var tableTplFn = __inline('/static/libs/list/_baseTb.tmpl') //加载列表模板

    require('upload') //加载upload
    require('page') //加载分页组件

    /**
    * 获取分页查询ajax参数
    * @return {object} ajax参数
    */
    function getPostData() {
      var o = {};
      o.page = $('#pageList').data('page').getNowPage(); //获取当前页
      o.name = $('#searchText').val();
      //...
      return o;
    }

    /**
    * 获取添加或修改弹窗ajax参数
    * @param  {object} obj 弹窗指向
    * @return {obejct}     ajax参数
    */
    function getData(obj) {
      var o = {};
      //...
      return o;
    }


    bsz.check.init();//初始化全选事件
    var list = new bsz.list();//初始化列表事件
    list.init({
      tableTplFn: tableTplFn,
      getPostData: getPostData,
      getData: getData,
      base: '/admin/list/',//ajax路径前缀
      fn: ['search', 'delAll', 'add', 'page', 'del', 'edit']//初始化函数
    })
  </code>
  </pre>
      </div>
    </div>
  </div>
  #end
  ## 需要依赖一下自己，否则该 vm 中依赖没法自动加载进来。
  #require("page/list/list.vm")
#end