## icon组件布局
## @author LYY 2015/05/06
## @description 图标icon组件css命名全以icon-开头
##
#set($title = "超市商品评论-邻亲")
#extends("/page/layout/frame.vm")
#block("body")
<div class="art-content">
  <div>
    <header class="page-header">
      <h1>IconFont 图标</h1>
    </header>
    <ul class="icon_lists clear">
      <li> <i class="icon iconfont">&#xe600;</i>
        <div class="name">云上传</div>
        <div class="code">&amp;#xe600;</div>
      </li>
      <li> <i class="icon iconfont">&#xe601;</i>
        <div class="name">上传</div>
        <div class="code">&amp;#xe601;</div>
      </li>
      <li> <i class="icon iconfont">&#xe602;</i>
        <div class="name">列表</div>
        <div class="code">&amp;#xe602;</div>
      </li>
      <li> <i class="icon iconfont">&#xe603;</i>
        <div class="name">发送</div>
        <div class="code">&amp;#xe603;</div>
      </li>
      <li> <i class="icon iconfont">&#xe604;</i>
        <div class="name">消费者保障</div>
        <div class="code">&amp;#xe604;</div>
      </li>
      <li> <i class="icon iconfont">&#xe605;</i>
        <div class="name">新手上路</div>
        <div class="code">&amp;#xe605;</div>
      </li>
      <li> <i class="icon iconfont">&#xe606;</i>
        <div class="name">其他</div>
        <div class="code">&amp;#xe606;</div>
      </li>
      <li> <i class="icon iconfont">&#xe607;</i>
        <div class="name">话费</div>
        <div class="code">&amp;#xe607;</div>
      </li>
      <li> <i class="icon iconfont">&#xe608;</i>
        <div class="name">图片</div>
        <div class="code">&amp;#xe608;</div>
      </li>
      <li> <i class="icon iconfont">&#xe609;</i>
        <div class="name">宝贝</div>
        <div class="code">&amp;#xe609;</div>
      </li>
      <li> <i class="icon iconfont">&#xe60a;</i>
        <div class="name">扬声器</div>
        <div class="code">&amp;#xe60a;</div>
      </li>
      <li> <i class="icon iconfont">&#xe60b;</i>
        <div class="name">标签</div>
        <div class="code">&amp;#xe60b;</div>
      </li>
      <li> <i class="icon iconfont">&#xe60c;</i>
        <div class="name">日历</div>
        <div class="code">&amp;#xe60c;</div>
      </li>
      <li> <i class="icon iconfont">&#xe60d;</i>
        <div class="name">对话框</div>
        <div class="code">&amp;#xe60d;</div>
      </li>
      <li> <i class="icon iconfont">&#xe60e;</i>
        <div class="name">平板电脑</div>
        <div class="code">&amp;#xe60e;</div>
      </li>
      <li> <i class="icon iconfont">&#xe60f;</i>
        <div class="name">礼物</div>
        <div class="code">&amp;#xe60f;</div>
      </li>
      <li> <i class="icon iconfont">&#xe610;</i>
        <div class="name">显示器</div>
        <div class="code">&amp;#xe610;</div>
      </li>
      <li> <i class="icon iconfont">&#xe611;</i>
        <div class="name">照相机</div>
        <div class="code">&amp;#xe611;</div>
      </li>
      <li> <i class="icon iconfont">&#xe612;</i>
        <div class="name">电视机</div>
        <div class="code">&amp;#xe612;</div>
      </li>
      <li> <i class="icon iconfont">&#xe613;</i>
        <div class="name">手机</div>
        <div class="code">&amp;#xe613;</div>
      </li>
      <li> <i class="icon iconfont">&#xe614;</i>
        <div class="name">笔记本</div>
        <div class="code">&amp;#xe614;</div>
      </li>
      <li> <i class="icon iconfont">&#xe615;</i>
        <div class="name">打印机</div>
        <div class="code">&amp;#xe615;</div>
      </li>
      <li> <i class="icon iconfont">&#xe616;</i>
        <div class="name">对话</div>
        <div class="code">&amp;#xe616;</div>
      </li>
      <li> <i class="icon iconfont">&#xe617;</i>
        <div class="name">认证用户</div>
        <div class="code">&amp;#xe617;</div>
      </li>
      <li> <i class="icon iconfont">&#xe618;</i>
        <div class="name">彩带</div>
        <div class="code">&amp;#xe618;</div>
      </li>
      <li> <i class="icon iconfont">&#xe619;</i>
        <div class="name">正确</div>
        <div class="code">&amp;#xe619;</div>
      </li>
      <li> <i class="icon iconfont">&#xe61a;</i>
        <div class="name">错误</div>
        <div class="code">&amp;#xe61a;</div>
      </li>
      <li> <i class="icon iconfont">&#xe61b;</i>
        <div class="name">禁止</div>
        <div class="code">&amp;#xe61b;</div>
      </li>
      <li> <i class="icon iconfont">&#xe61c;</i>
        <div class="name">提醒</div>
        <div class="code">&amp;#xe61c;</div>
      </li>
      <li> <i class="icon iconfont">&#xe61d;</i>
        <div class="name">提示</div>
        <div class="code">&amp;#xe61d;</div>
      </li>
      <li> <i class="icon iconfont">&#xe61e;</i>
        <div class="name">警告</div>
        <div class="code">&amp;#xe61e;</div>
      </li>
      <li> <i class="icon iconfont">&#xe61f;</i>
        <div class="name">帮助</div>
        <div class="code">&amp;#xe61f;</div>
      </li>
      <li> <i class="icon iconfont">&#xe620;</i>
        <div class="name">账户</div>
        <div class="code">&amp;#xe620;</div>
      </li>
      <li> <i class="icon iconfont">&#xe621;</i>
        <div class="name">剪切</div>
        <div class="code">&amp;#xe621;</div>
      </li>
      <li> <i class="icon iconfont">&#xe622;</i>
        <div class="name">文件</div>
        <div class="code">&amp;#xe622;</div>
      </li>
      <li> <i class="icon iconfont">&#xe623;</i>
        <div class="name">编辑文件</div>
        <div class="code">&amp;#xe623;</div>
      </li>
      <li> <i class="icon iconfont">&#xe624;</i>
        <div class="name">等待文件</div>
        <div class="code">&amp;#xe624;</div>
      </li>
      <li> <i class="icon iconfont">&#xe625;</i>
        <div class="name">剪切文件</div>
        <div class="code">&amp;#xe625;</div>
      </li>
      <li> <i class="icon iconfont">&#xe626;</i>
        <div class="name">复制文件</div>
        <div class="code">&amp;#xe626;</div>
      </li>
      <li> <i class="icon iconfont">&#xe627;</i>
        <div class="name">搜索文件</div>
        <div class="code">&amp;#xe627;</div>
      </li>
      <li> <i class="icon iconfont">&#xe628;</i>
        <div class="name">等待</div>
        <div class="code">&amp;#xe628;</div>
      </li>
      <li> <i class="icon iconfont">&#xe629;</i>
        <div class="name">文件夹</div>
        <div class="code">&amp;#xe629;</div>
      </li>
      <li> <i class="icon iconfont">&#xe62a;</i>
        <div class="name">新增文件夹</div>
        <div class="code">&amp;#xe62a;</div>
      </li>
      <li> <i class="icon iconfont">&#xe62b;</i>
        <div class="name">删除文件夹</div>
        <div class="code">&amp;#xe62b;</div>
      </li>
      <li> <i class="icon iconfont">&#xe62c;</i>
        <div class="name">未打卡的文件夹</div>
        <div class="code">&amp;#xe62c;</div>
      </li>
      <li> <i class="icon iconfont">&#xe62d;</i>
        <div class="name">锁定</div>
        <div class="code">&amp;#xe62d;</div>
      </li>
      <li> <i class="icon iconfont">&#xe62e;</i>
        <div class="name">饼图</div>
        <div class="code">&amp;#xe62e;</div>
      </li>
      <li> <i class="icon iconfont">&#xe62f;</i>
        <div class="name">竖状图</div>
        <div class="code">&amp;#xe62f;</div>
      </li>
      <li> <i class="icon iconfont">&#xe630;</i>
        <div class="name">曲线图</div>
        <div class="code">&amp;#xe630;</div>
      </li>
      <li> <i class="icon iconfont">&#xe631;</i>
        <div class="name">定向</div>
        <div class="code">&amp;#xe631;</div>
      </li>
      <li> <i class="icon iconfont">&#xe632;</i>
        <div class="name">广告主</div>
        <div class="code">&amp;#xe632;</div>
      </li>
      <li> <i class="icon iconfont">&#xe633;</i>
        <div class="name">设计师</div>
        <div class="code">&amp;#xe633;</div>
      </li>
      <li> <i class="icon iconfont">&#xe634;</i>
        <div class="name">男商家</div>
        <div class="code">&amp;#xe634;</div>
      </li>
      <li> <i class="icon iconfont">&#xe635;</i>
        <div class="name">女商家</div>
        <div class="code">&amp;#xe635;</div>
      </li>
      <li> <i class="icon iconfont">&#xe636;</i>
        <div class="name">添加商家</div>
        <div class="code">&amp;#xe636;</div>
      </li>
      <li> <i class="icon iconfont">&#xe637;</i>
        <div class="name">兴趣定向</div>
        <div class="code">&amp;#xe637;</div>
      </li>
      <li> <i class="icon iconfont">&#xe638;</i>
        <div class="name">图标</div>
        <div class="code">&amp;#xe638;</div>
      </li>
      <li> <i class="icon iconfont">&#xe639;</i>
        <div class="name">计划</div>
        <div class="code">&amp;#xe639;</div>
      </li>
      <li> <i class="icon iconfont">&#xe63a;</i>
        <div class="name">添加计划</div>
        <div class="code">&amp;#xe63a;</div>
      </li>
      <li> <i class="icon iconfont">&#xe63b;</i>
        <div class="name">商家群</div>
        <div class="code">&amp;#xe63b;</div>
      </li>
      <li> <i class="icon iconfont">&#xe63c;</i>
        <div class="name">调节</div>
        <div class="code">&amp;#xe63c;</div>
      </li>
      <li> <i class="icon iconfont">&#xe63d;</i>
        <div class="name">可见</div>
        <div class="code">&amp;#xe63d;</div>
      </li>
      <li> <i class="icon iconfont">&#xe63e;</i>
        <div class="name">不可见</div>
        <div class="code">&amp;#xe63e;</div>
      </li>
      <li> <i class="icon iconfont">&#xe63f;</i>
        <div class="name">飙升榜</div>
        <div class="code">&amp;#xe63f;</div>
      </li>
      <li> <i class="icon iconfont">&#xe640;</i>
        <div class="name">管理员</div>
        <div class="code">&amp;#xe640;</div>
      </li>
      <li> <i class="icon iconfont">&#xe641;</i>
        <div class="name">金币</div>
        <div class="code">&amp;#xe641;</div>
      </li>
      <li> <i class="icon iconfont">&#xe642;</i>
        <div class="name">金币转出</div>
        <div class="code">&amp;#xe642;</div>
      </li>
      <li> <i class="icon iconfont">&#xe643;</i>
        <div class="name">金币提现</div>
        <div class="code">&amp;#xe643;</div>
      </li>
      <li> <i class="icon iconfont">&#xe644;</i>
        <div class="name">金币转入</div>
        <div class="code">&amp;#xe644;</div>
      </li>
      <li> <i class="icon iconfont">&#xe645;</i>
        <div class="name">计费</div>
        <div class="code">&amp;#xe645;</div>
      </li>
      <li> <i class="icon iconfont">&#xe646;</i>
        <div class="name">新手学堂</div>
        <div class="code">&amp;#xe646;</div>
      </li>
      <li> <i class="icon iconfont">&#xe647;</i>
        <div class="name">上传素材</div>
        <div class="code">&amp;#xe647;</div>
      </li>
      <li> <i class="icon iconfont">&#xe648;</i>
        <div class="name">细分</div>
        <div class="code">&amp;#xe648;</div>
      </li>
      <li> <i class="icon iconfont">&#xe649;</i>
        <div class="name">系统推送</div>
        <div class="code">&amp;#xe649;</div>
      </li>
      <li> <i class="icon iconfont">&#xe64a;</i>
        <div class="name">账户明细</div>
        <div class="code">&amp;#xe64a;</div>
      </li>
      <li> <i class="icon iconfont">&#xe64b;</i>
        <div class="name">密匙</div>
        <div class="code">&amp;#xe64b;</div>
      </li>
      <li> <i class="icon iconfont">&#xe64c;</i>
        <div class="name">排序</div>
        <div class="code">&amp;#xe64c;</div>
      </li>
      <li> <i class="icon iconfont">&#xe64d;</i>
        <div class="name">向左</div>
        <div class="code">&amp;#xe64d;</div>
      </li>
      <li> <i class="icon iconfont">&#xe64e;</i>
        <div class="name">向上</div>
        <div class="code">&amp;#xe64e;</div>
      </li>
      <li> <i class="icon iconfont">&#xe64f;</i>
        <div class="name">向右</div>
        <div class="code">&amp;#xe64f;</div>
      </li>
      <li> <i class="icon iconfont">&#xe650;</i>
        <div class="name">标签</div>
        <div class="code">&amp;#xe650;</div>
      </li>
      <li> <i class="icon iconfont">&#xe651;</i>
        <div class="name">多素材</div>
        <div class="code">&amp;#xe651;</div>
      </li>
      <li> <i class="icon iconfont">&#xe652;</i>
        <div class="name">云下载</div>
        <div class="code">&amp;#xe652;</div>
      </li>
      <li> <i class="icon iconfont">&#xe653;</i>
        <div class="name">微笑</div>
        <div class="code">&amp;#xe653;</div>
      </li>
      <li> <i class="icon iconfont">&#xe654;</i>
        <div class="name">吃惊</div>
        <div class="code">&amp;#xe654;</div>
      </li>
      <li> <i class="icon iconfont">&#xe655;</i>
        <div class="name">呆</div>
        <div class="code">&amp;#xe655;</div>
      </li>
      <li> <i class="icon iconfont">&#xe656;</i>
        <div class="name">耍酷</div>
        <div class="code">&amp;#xe656;</div>
      </li>
      <li> <i class="icon iconfont">&#xe657;</i>
        <div class="name">魔鬼</div>
        <div class="code">&amp;#xe657;</div>
      </li>
      <li> <i class="icon iconfont">&#xe658;</i>
        <div class="name">尴尬</div>
        <div class="code">&amp;#xe658;</div>
      </li>
      <li> <i class="icon iconfont">&#xe659;</i>
        <div class="name">亲</div>
        <div class="code">&amp;#xe659;</div>
      </li>
      <li> <i class="icon iconfont">&#xe65a;</i>
        <div class="name">怒</div>
        <div class="code">&amp;#xe65a;</div>
      </li>
      <li> <i class="icon iconfont">&#xe65b;</i>
        <div class="name">眨眼</div>
        <div class="code">&amp;#xe65b;</div>
      </li>
      <li> <i class="icon iconfont">&#xe65c;</i>
        <div class="name">生气</div>
        <div class="code">&amp;#xe65c;</div>
      </li>
      <li> <i class="icon iconfont">&#xe65d;</i>
        <div class="name">骂</div>
        <div class="code">&amp;#xe65d;</div>
      </li>
      <li> <i class="icon iconfont">&#xe65e;</i>
        <div class="name">鄙视</div>
        <div class="code">&amp;#xe65e;</div>
      </li>
      <li> <i class="icon iconfont">&#xe65f;</i>
        <div class="name">卖萌</div>
        <div class="code">&amp;#xe65f;</div>
      </li>
      <li> <i class="icon iconfont">&#xe660;</i>
        <div class="name">惊呆</div>
        <div class="code">&amp;#xe660;</div>
      </li>
      <li> <i class="icon iconfont">&#xe661;</i>
        <div class="name">晕</div>
        <div class="code">&amp;#xe661;</div>
      </li>
      <li> <i class="icon iconfont">&#xe662;</i>
        <div class="name">首页</div>
        <div class="code">&amp;#xe662;</div>
      </li>
      <li> <i class="icon iconfont">&#xe663;</i>
        <div class="name">搜索</div>
        <div class="code">&amp;#xe663;</div>
      </li>
      <li> <i class="icon iconfont">&#xe664;</i>
        <div class="name">用户</div>
        <div class="code">&amp;#xe664;</div>
      </li>
      <li> <i class="icon iconfont">&#xe665;</i>
        <div class="name">文本</div>
        <div class="code">&amp;#xe665;</div>
      </li>
      <li> <i class="icon iconfont">&#xe666;</i>
        <div class="name">对话</div>
        <div class="code">&amp;#xe666;</div>
      </li>
      <li> <i class="icon iconfont">&#xe667;</i>
        <div class="name">表情</div>
        <div class="code">&amp;#xe667;</div>
      </li>
      <li> <i class="icon iconfont">&#xe668;</i>
        <div class="name">物流</div>
        <div class="code">&amp;#xe668;</div>
        <div class="fontclass">.wuliu</div>
      </li>
      <li> <i class="icon iconfont">&#xe669;</i>
        <div class="name">名片</div>
        <div class="code">&amp;#xe669;</div>
      </li>
      <li> <i class="icon iconfont">&#xe66a;</i>
        <div class="name">图片</div>
        <div class="code">&amp;#xe66a;</div>
      </li>
      <li> <i class="icon iconfont">&#xe66b;</i>
        <div class="name">撤销</div>
        <div class="code">&amp;#xe66b;</div>
      </li>
      <li> <i class="icon iconfont">&#xe66c;</i>
        <div class="name">重做</div>
        <div class="code">&amp;#xe66c;</div>
      </li>
      <li> <i class="icon iconfont">&#xe66d;</i>
        <div class="name">赞扬</div>
        <div class="code">&amp;#xe66d;</div>
      </li>
      <li> <i class="icon iconfont">&#xe66e;</i>
        <div class="name">批评</div>
        <div class="code">&amp;#xe66e;</div>
      </li>
      <li> <i class="icon iconfont">&#xe66f;</i>
        <div class="name">设置</div>
        <div class="code">&amp;#xe66f;</div>
      </li>
      <li> <i class="icon iconfont">&#xe670;</i>
        <div class="name">删除</div>
        <div class="code">&amp;#xe670;</div>
      </li>
      <li> <i class="icon iconfont">&#xe671;</i>
        <div class="name">其它</div>
        <div class="code">&amp;#xe671;</div>
      </li>
      <li> <i class="icon iconfont">&#xe672;</i>
        <div class="name">信息</div>
        <div class="code">&amp;#xe672;</div>
      </li>
      <li> <i class="icon iconfont">&#xe673;</i>
        <div class="name">帮助</div>
        <div class="code">&amp;#xe673;</div>
      </li>
      <li> <i class="icon iconfont">&#xe674;</i>
        <div class="name">收藏</div>
        <div class="code">&amp;#xe674;</div>
      </li>
      <li> <i class="icon iconfont">&#xe675;</i>
        <div class="name">喜爱</div>
        <div class="code">&amp;#xe675;</div>
      </li>
      <li> <i class="icon iconfont">&#xe676;</i>
        <div class="name">小助手</div>
        <div class="code">&amp;#xe676;</div>
      </li>
      <li> <i class="icon iconfont">&#xe677;</i>
        <div class="name">语音</div>
        <div class="code">&amp;#xe677;</div>
      </li>
      <li> <i class="icon iconfont">&#xe678;</i>
        <div class="name">购物车</div>
        <div class="code">&amp;#xe678;</div>
      </li>
      <li> <i class="icon iconfont">&#xe679;</i>
        <div class="name">耳机</div>
        <div class="code">&amp;#xe679;</div>
      </li>
      <li> <i class="icon iconfont">&#xe67a;</i>
        <div class="name">位置</div>
        <div class="code">&amp;#xe67a;</div>
      </li>
      <li> <i class="icon iconfont">&#xe67b;</i>
        <div class="name">好友</div>
        <div class="code">&amp;#xe67b;</div>
      </li>
      <li> <i class="icon iconfont">&#xe67c;</i>
        <div class="name">查找用户</div>
        <div class="code">&amp;#xe67c;</div>
      </li>
      <li> <i class="icon iconfont">&#xe67d;</i>
        <div class="name">添加用户</div>
        <div class="code">&amp;#xe67d;</div>
      </li>
      <li> <i class="icon iconfont">&#xe67e;</i>
        <div class="name">哭脸</div>
        <div class="code">&amp;#xe67e;</div>
      </li>
      <li> <i class="icon iconfont">&#xe67f;</i>
        <div class="name">编辑</div>
        <div class="code">&amp;#xe67f;</div>
      </li>
      <li> <i class="icon iconfont">&#xe680;</i>
        <div class="name">人民币</div>
        <div class="code">&amp;#xe680;</div>
      </li>
      <li> <i class="icon iconfont">&#xe681;</i>
        <div class="name">照相机</div>
        <div class="code">&amp;#xe681;</div>
      </li>
      <li> <i class="icon iconfont">&#xe682;</i>
        <div class="name">标签</div>
        <div class="code">&amp;#xe682;</div>
      </li>
      <li> <i class="icon iconfont">&#xe683;</i>
        <div class="name">减</div>
        <div class="code">&amp;#xe683;</div>
      </li>
      <li> <i class="icon iconfont">&#xe684;</i>
        <div class="name">正确</div>
        <div class="code">&amp;#xe684;</div>
      </li>
      <li> <i class="icon iconfont">&#xe685;</i>
        <div class="name">女人</div>
        <div class="code">&amp;#xe685;</div>
      </li>
      <li> <i class="icon iconfont">&#xe686;</i>
        <div class="name">文本输入</div>
        <div class="code">&amp;#xe686;</div>
      </li>
      <li> <i class="icon iconfont">&#xe687;</i>
        <div class="name">小缩略图</div>
        <div class="code">&amp;#xe687;</div>
      </li>
      <li> <i class="icon iconfont">&#xe688;</i>
        <div class="name">随机用户</div>
        <div class="code">&amp;#xe688;</div>
      </li>
      <li> <i class="icon iconfont">&#xe689;</i>
        <div class="name">附件</div>
        <div class="code">&amp;#xe689;</div>
      </li>
      <li> <i class="icon iconfont">&#xe68a;</i>
        <div class="name">刷新</div>
        <div class="code">&amp;#xe68a;</div>
      </li>
      <li> <i class="icon iconfont">&#xe68b;</i>
        <div class="name">单图排列</div>
        <div class="code">&amp;#xe68b;</div>
      </li>
      <li> <i class="icon iconfont">&#xe68c;</i>
        <div class="name">大列表</div>
        <div class="code">&amp;#xe68c;</div>
      </li>
      <li> <i class="icon iconfont">&#xe68d;</i>
        <div class="name">大缩略图列表</div>
        <div class="code">&amp;#xe68d;</div>
      </li>
      <li> <i class="icon iconfont">&#xe68e;</i>
        <div class="name">瀑布流</div>
        <div class="code">&amp;#xe68e;</div>
      </li>
      <li> <i class="icon iconfont">&#xe68f;</i>
        <div class="name">列表</div>
        <div class="code">&amp;#xe68f;</div>
      </li>
      <li> <i class="icon iconfont">&#xe690;</i>
        <div class="name">视频</div>
        <div class="code">&amp;#xe690;</div>
      </li>
      <li> <i class="icon iconfont">&#xe691;</i>
        <div class="name">下载</div>
        <div class="code">&amp;#xe691;</div>
      </li>
      <li> <i class="icon iconfont">&#xe692;</i>
        <div class="name">过滤</div>
        <div class="code">&amp;#xe692;</div>
      </li>
      <li> <i class="icon iconfont">&#xe693;</i>
        <div class="name">发送邮件</div>
        <div class="code">&amp;#xe693;</div>
      </li>
      <li> <i class="icon iconfont">&#xe694;</i>
        <div class="name">提醒设置</div>
        <div class="code">&amp;#xe694;</div>
      </li>
      <li> <i class="icon iconfont">&#xe695;</i>
        <div class="name">编辑模板</div>
        <div class="code">&amp;#xe695;</div>
      </li>
      <li> <i class="icon iconfont">&#xe696;</i>
        <div class="name">导入创意</div>
        <div class="code">&amp;#xe696;</div>
      </li>
      <li> <i class="icon iconfont">&#xe697;</i>
        <div class="name">粘贴</div>
        <div class="code">&amp;#xe697;</div>
      </li>
      <li> <i class="icon iconfont">&#xe698;</i>
        <div class="name">向右</div>
        <div class="code">&amp;#xe698;</div>
      </li>
      <li> <i class="icon iconfont">&#xe699;</i>
        <div class="name">向左</div>
        <div class="code">&amp;#xe699;</div>
      </li>
      <li> <i class="icon iconfont">&#xe69a;</i>
        <div class="name">向上</div>
        <div class="code">&amp;#xe69a;</div>
      </li>
      <li> <i class="icon iconfont">&#xe69b;</i>
        <div class="name">向下</div>
        <div class="code">&amp;#xe69b;</div>
      </li>
      <li> <i class="icon iconfont">&#xe69c;</i>
        <div class="name">应用</div>
        <div class="code">&amp;#xe69c;</div>
      </li>
      <li> <i class="icon iconfont">&#xe69d;</i>
        <div class="name">加</div>
        <div class="code">&amp;#xe69d;</div>
      </li>
      <li> <i class="icon iconfont">&#xe69e;</i>
        <div class="name">减</div>
        <div class="code">&amp;#xe69e;</div>
      </li>
      <li> <i class="icon iconfont">&#xe69f;</i>
        <div class="name">购物车满</div>
        <div class="code">&amp;#xe69f;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6a0;</i>
        <div class="name">购物车空</div>
        <div class="code">&amp;#xe6a0;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6a1;</i>
        <div class="name">更新</div>
        <div class="code">&amp;#xe6a1;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6a2;</i>
        <div class="name">退出</div>
        <div class="code">&amp;#xe6a2;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6a3;</i>
        <div class="name">皇冠</div>
        <div class="code">&amp;#xe6a3;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6a4;</i>
        <div class="name">暂停</div>
        <div class="code">&amp;#xe6a4;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6a5;</i>
        <div class="name">居左</div>
        <div class="code">&amp;#xe6a5;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6a6;</i>
        <div class="name">居中</div>
        <div class="code">&amp;#xe6a6;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6a7;</i>
        <div class="name">居右</div>
        <div class="code">&amp;#xe6a7;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6a8;</i>
        <div class="name">横排</div>
        <div class="code">&amp;#xe6a8;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6a9;</i>
        <div class="name">竖排</div>
        <div class="code">&amp;#xe6a9;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6aa;</i>
        <div class="name">左缩进</div>
        <div class="code">&amp;#xe6aa;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6ab;</i>
        <div class="name">右缩进</div>
        <div class="code">&amp;#xe6ab;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6ac;</i>
        <div class="name">垂直缩放</div>
        <div class="code">&amp;#xe6ac;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6ad;</i>
        <div class="name">水平缩放</div>
        <div class="code">&amp;#xe6ad;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6ae;</i>
        <div class="name">斜体</div>
        <div class="code">&amp;#xe6ae;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6af;</i>
        <div class="name">最上部</div>
        <div class="code">&amp;#xe6af;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6b0;</i>
        <div class="name">禁止</div>
        <div class="code">&amp;#xe6b0;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6b1;</i>
        <div class="name">设置</div>
        <div class="code">&amp;#xe6b1;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6b2;</i>
        <div class="name">录音</div>
        <div class="code">&amp;#xe6b2;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6b3;</i>
        <div class="name">进入</div>
        <div class="code">&amp;#xe6b3;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6b4;</i>
        <div class="name">打开信息</div>
        <div class="code">&amp;#xe6b4;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6b5;</i>
        <div class="name">解锁</div>
        <div class="code">&amp;#xe6b5;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6b6;</i>
        <div class="name">退格</div>
        <div class="code">&amp;#xe6b6;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6b7;</i>
        <div class="name">图文详情</div>
        <div class="code">&amp;#xe6b7;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6b8;</i>
        <div class="name">文本输入</div>
        <div class="code">&amp;#xe6b8;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6b9;</i>
        <div class="name">微距</div>
        <div class="code">&amp;#xe6b9;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6ba;</i>
        <div class="name">远景</div>
        <div class="code">&amp;#xe6ba;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6bb;</i>
        <div class="name">高清摄像</div>
        <div class="code">&amp;#xe6bb;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6bc;</i>
        <div class="name">风景</div>
        <div class="code">&amp;#xe6bc;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6bd;</i>
        <div class="name">左上</div>
        <div class="code">&amp;#xe6bd;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6be;</i>
        <div class="name">向上</div>
        <div class="code">&amp;#xe6be;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6bf;</i>
        <div class="name">右上</div>
        <div class="code">&amp;#xe6bf;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6c0;</i>
        <div class="name">向下</div>
        <div class="code">&amp;#xe6c0;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6c1;</i>
        <div class="name">右下</div>
        <div class="code">&amp;#xe6c1;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6c2;</i>
        <div class="name">向左</div>
        <div class="code">&amp;#xe6c2;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6c3;</i>
        <div class="name">向右</div>
        <div class="code">&amp;#xe6c3;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6c4;</i>
        <div class="name">链接</div>
        <div class="code">&amp;#xe6c4;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6c5;</i>
        <div class="name">新浪微博</div>
        <div class="code">&amp;#xe6c5;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6c6;</i>
        <div class="name">腾讯微博</div>
        <div class="code">&amp;#xe6c6;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6c7;</i>
        <div class="name">缩小</div>
        <div class="code">&amp;#xe6c7;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6c8;</i>
        <div class="name">放大</div>
        <div class="code">&amp;#xe6c8;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6c9;</i>
        <div class="name">移动</div>
        <div class="code">&amp;#xe6c9;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6ca;</i>
        <div class="name">全屏</div>
        <div class="code">&amp;#xe6ca;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6cb;</i>
        <div class="name">缩小</div>
        <div class="code">&amp;#xe6cb;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6cc;</i>
        <div class="name">放大</div>
        <div class="code">&amp;#xe6cc;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6cd;</i>
        <div class="name">新建窗口</div>
        <div class="code">&amp;#xe6cd;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6ce;</i>
        <div class="name">新窗口打开</div>
        <div class="code">&amp;#xe6ce;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6cf;</i>
        <div class="name">订阅</div>
        <div class="code">&amp;#xe6cf;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6d0;</i>
        <div class="name">信号</div>
        <div class="code">&amp;#xe6d0;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6d1;</i>
        <div class="name">订单</div>
        <div class="code">&amp;#xe6d1;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6d2;</i>
        <div class="name">充电</div>
        <div class="code">&amp;#xe6d2;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6d3;</i>
        <div class="name">提升</div>
        <div class="code">&amp;#xe6d3;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6d4;</i>
        <div class="name">播放</div>
        <div class="code">&amp;#xe6d4;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6d5;</i>
        <div class="name">地图</div>
        <div class="code">&amp;#xe6d5;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6d6;</i>
        <div class="name">地图</div>
        <div class="code">&amp;#xe6d6;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6d7;</i>
        <div class="name">对话</div>
        <div class="code">&amp;#xe6d7;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6d8;</i>
        <div class="name">选择</div>
        <div class="code">&amp;#xe6d8;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6d9;</i>
        <div class="name">裁剪</div>
        <div class="code">&amp;#xe6d9;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6da;</i>
        <div class="name">html5</div>
        <div class="code">&amp;#xe6da;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6db;</i>
        <div class="name">下拉</div>
        <div class="code">&amp;#xe6db;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6dc;</i>
        <div class="name">钻石</div>
        <div class="code">&amp;#xe6dc;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6dd;</i>
        <div class="name">微软</div>
        <div class="code">&amp;#xe6dd;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6de;</i>
        <div class="name">苹果</div>
        <div class="code">&amp;#xe6de;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6df;</i>
        <div class="name">转推</div>
        <div class="code">&amp;#xe6df;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6e0;</i>
        <div class="name">关机</div>
        <div class="code">&amp;#xe6e0;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6e1;</i>
        <div class="name">新建模块</div>
        <div class="code">&amp;#xe6e1;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6e2;</i>
        <div class="name">红包</div>
        <div class="code">&amp;#xe6e2;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6e3;</i>
        <div class="name">清除</div>
        <div class="code">&amp;#xe6e3;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6e4;</i>
        <div class="name">收藏</div>
        <div class="code">&amp;#xe6e4;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6e5;</i>
        <div class="name">第一页</div>
        <div class="code">&amp;#xe6e5;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6e6;</i>
        <div class="name">最后一页</div>
        <div class="code">&amp;#xe6e6;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6e7;</i>
        <div class="name">下一页</div>
        <div class="code">&amp;#xe6e7;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6e8;</i>
        <div class="name">上一页</div>
        <div class="code">&amp;#xe6e8;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6e9;</i>
        <div class="name">加载中</div>
        <div class="code">&amp;#xe6e9;</div>
      </li>
      <li> <i class="icon iconfont">&#xe6ea;</i>
        <div class="name">错误</div>
        <div class="code">&amp;#xe6ea;</div>
      </li>
      <br clear="all">
    </ul>
    <div class="docs-section">
      <div class="m-example">
        <h4>第一步：使用font-face声明字体</h4>
      </div>
      <div class="highlight">
        <pre><code class="language-html" data-lang="html">   
     @font-face {
        font-family: 'iconfont';
	src: url('iconfont.eot'); /* IE9*/
	src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('iconfont.woff') format('woff'), /* chrome、firefox */
	url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
     }
    </code></pre>
      </div>
    </div>
    <div class="docs-section">
      <div class="m-example">
        <h4>第二步：定义使用iconfont的样式</h4>
      </div>
      <div class="highlight">
        <pre><code class="language-html" data-lang="html"> 
     .iconfont{
        font-family:"iconfont" !important;
        font-size:16px;font-style:normal;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        -moz-osx-font-smoothing: grayscale;
     }  
    </code></pre>
      </div>
    </div>
    <div class="docs-section">
      <div class="m-example">
        <h4>第三步：挑选相应图标并获取字体编码，应用于页面</h4>
      </div>
      <div class="highlight">
        <pre><code class="language-html" data-lang="html">  
    &lt;i class="iconfont"&gt;#x33;&lt;/i&gt; 
    </code></pre>
      </div>
    </div>
    <div class="helps"> </div>
  </div>
</div>
	
    #end    
    #require("page/examples/examples/icon/iconfont.vm")
#end