#extends("/page/layout/frame.vm")
#require("/static/css/api.css")
#block("body")
	<div id="content" class="art-content">
		<h2>手机端编辑器api</h2>
		<h3>1.手机端编辑模块</h3>
		<p>手机编辑器方法的详细说明，适用于后台商城手机端编辑，文字没有格式</p>
		<h3>2.函数</h3>
		<table>
		  <thead>
		    <tr>
		      <th>事件名</th>
		      <th>参数说明</th>
		      <th>描述</th>
		      <th>备注</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		    <td><code>init</code></td>
		      <td>-------</td>
		      <td>事件初始化</td>
		      <td>---</td>
		    </tr>
		    <tr>
		    <td><code>getData</code></td>
		      <td>-------</td>
		      <td>获取手机端编辑器数据</td>
		      <td>---</td>
		    </tr>
		    <tr>
		    <td><code>initModify</code></td>
		      <td>-------</td>
		      <td>初始化手机端编辑器内容</td>
		      <td>---</td>
		    </tr>
		  </tbody>
		</table>
		<h4>示例</h4>
 <pre><code class="language-javascript" data-lang="javascript">
    var phoneEdit = require('widget/m-phone-edit/m-phone-edit');
    phoneEdit.init();//初始化
    phoneEdit.getData() //获取内容
    phoneEdit.initModify(data) //初始化手机端编辑器内容
    </code></pre>
		<h3>3.具体的函数说明</h3>
		<table>
		  <thead>
		    <tr>
		      <th>事件名</th>
		      <th>参数说明</th>
		      <th>描述</th>
		      <th>备注</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td><code>_reverse</td>
		      <td>str：{string}</td>
		      <td>html 转化成带格式的文本</td>
		      <td>---</td>
		    </tr>
		    <tr>
		    <td><code>_filter</code></td>
		      <td>str：{string}</td>
		      <td>带格式的文本内容转化成html</td>
		      <td>---</td>
		    </tr>
		    <tr>
		      <td><code>_lisort</code></td>
		      <td>---</td>
		      <td>排序，对内容块上下移动进行排序</td>
		      <td>---</td>
		    </tr>
		    <tr>
		      <td><code>_getParentDiv</code></td>
		      <td>obj:{object}</td>
		      <td>获取父亲对象</td>
		      <td>---</td>
		    </tr>
		    <tr>
		      <td><code>_editScroll</code></td>
		      <td>dom:{string} 内容</td>
		      <td>编辑器自动滚动到底部</td>
		      <td>---</td>
		    </tr>
		    <tr>
		      <td><code>_tpmlImg</code></td>
		      <td>src:{string} 路径</td>
		      <td>模板函数img</td>
		      <td>---</td>
		    </tr>
		    <tr>
		      <td><code>_tpmlText</code></td>
		      <td>content:{string} 内容</td>
		      <td>添加文字模板</td>
		      <td>---</td>
		    </tr>
		    <tr>
		      <td><code>_boxHide</code></td>
		      <td>---</td>
		      <td>隐藏弹窗</td>
		      <td>---</td>
		    </tr>
		    <tr>
		      <td><code>_boxShow</code></td>
		      <td>obj:{object}</td>
		      <td>显示弹窗</td>
		      <td>---</td>
		    </tr>
		    <tr>
		      <td><code>_getPhoneData</code></td>
		      <td>---</td>
		      <td>获取手机端编辑器内容</td>
		      <td>---</td>
		    </tr>
		    <tr>
		      <td><code>_initPhone</code></td>
		      <td>data：{array[object]}</td>
		      <td>初始化手机端编辑器内容</td>
		      <td>---</td>
		    </tr>
		    <tr>
		      <td><code>_addText</code></td>
		      <td>---</td>
		      <td>手机端编辑器添加文字</td>
		      <td>---</td>
		    </tr>
		    <tr>
		      <td><code>_initModifyPhone</code></td>
		      <td>obj:{object}</td>
		      <td>修改手机端编辑器内容</td>
		      <td>---</td>
		    </tr>
		    <tr>
		      <td><code>_initEditImg</code></td>
		      <td>---</td>
		      <td>编辑图片弹窗初始化</td>
		      <td>---</td>
		    </tr>
		    <tr>
		      <td><code>_initEditText</code></td>
		      <td>---</td>
		      <td>编辑文字弹窗初始化</td>
		      <td>---</td>
		    </tr>
		    <tr>
		      <td><code>init</code></td>
		      <td>---</td>
		      <td>事件初始化</td>
		      <td>---</td>
		    </tr>
		  </tbody>
		</table>
	</div>
#end   
    #require("page/add/api.vm")
#end