<div class='J_P_Cont'  data-type='1'>
	<div>
		<img src="<%=src%>" class="J_Img">
	</div>
	  <a class='J_P_Up' href="javascript:;">上移</a>
	  <a class='J_P_Down' href="javascript:;">下移</a>
	  <a class="J_P_Modify" href="javascript:;" >编辑</a>
	  <a class="J_P_Del" href="javascript:;" >删除</a>
</div>