 <div class='J_P_Cont' data-type='0'>
  <div class='content'> <%=cont%>  </div>
  <div class="m-phone-btn">
  <a class='J_P_Up font-btn-add' href="javascript:;">上移</a>
  <a class='J_P_Down font-btn-del' href="javascript:;">下移</a>
  <a class="J_P_Modify font-btn-info" href="javascript:;">编辑</a>
  <a class='J_P_Del font-btn-del' href="javascript:;">删除</a>
</div>
</div>