/**
 */
.dn{
	display: none;
}
.cllistde{
	position: relative;
}
.edit{
	overflow: hidden;
	padding: 0;
	border: 1px solid #F2EFEF;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.m-p-imgbtn{
	margin-top: -50px;
}
.edit-title{
	display: block;
	height: 50px;
	padding-left: 20px;
	background: whiteSmoke;
	color: #333;
	letter-spacing: 3px;
	font-size: 18px;
	line-height: 50px;
}
.edit-waring{
	margin-bottom: 8px;
	margin: 20px;
	position: relative;
}
.edit-waring .pull-right {
	position: absolute;
	font-size: 15px;
	right: 0;
	top: -55%;
}
.edit-waring .font-btn-info{
	font-size: 14px;
}
.edit-cont{
	border-top:1px solid #EFEFEF;
	height: 500px; 
	overflow: auto;
	width:100%;
}
.tip-cont textarea{
	width: 100%;
}
.J_P_Cont a{
	margin-right:10px;
}
.J_P_Cont{
	margin:20px;
	word-break: break-all;
}
.J_P_Cont .content{
	margin-bottom: 10px;
	width: 100%;
}
.J_P_Cont:hover .content{
	opacity: 0.19;
	width: auto;
	display: inline-block;
	cursor: pointer;
}
.wid_tip a{
	display: none;
}
.txt-form .form-control{
	width: 90%;	
}
.m-phone-btn{
	width: 100%
}