<link rel="stylesheet" href="m-box.css"> 
<div class="mask-tip mask-tip-defualt tip dn" id="addBox" data-box="input select">
 <div class="dialog">
 <div class="mask-tip-title">添加
    <button type="button" class="close J_BClose" title="关闭">×</button>
  </div>
  <div class="mask-tip-con">
    <div class="div-box">
        <label class="control-label col-md-3">名称</label>
        <div class="col-md-7">
          <input class="form-control" placeholder="" type="text" name="name" maxlength="10">
        </div>
    </div>
    <div class="div-box">
        <label class="control-label col-md-3">状态</label>
        <div class="col-md-7">
          <input class="form-control" placeholder="" type="text" name="state" maxlength="10">
        </div>
    </div>
    <div class="div-box">
        <label class="control-label col-md-3">显示顺序</label>
        <div class="col-md-7">
          <input class="form-control" placeholder="" type="text" name="order" maxlength="10">
        </div>
    </div>    
  </div>
  <div class="mask-tip-btn algin-center">
    <button type="button" class="btn btn-success sure J_BSure">确认</button>
    <button type="button" class="btn btn-default-border cacel J_BCancel">取消</button>
  </div>
  </div>
</div>

<div class="mask-tip mask-tip-defualt tip dn" id="editBox" data-box="input select">
 <div class="dialog">
 <div class="mask-tip-title">修改
    <button type="button" class="close J_BClose" title="关闭">×</button>
  </div>
  <div class="mask-tip-con algin-center">
     <div class="div-box">
        <label class="control-label col-md-3">名称</label>
        <div class="col-md-7">
          <input class="form-control" placeholder="" type="text" name="name" maxlength="10">
        </div>
    </div>
    <div class="div-box">
        <label class="control-label col-md-3">状态</label>
        <div class="col-md-7">
          <input class="form-control" placeholder="" type="text" name="state" maxlength="10">
        </div>
    </div>
    <div class="div-box">
        <label class="control-label col-md-3">显示顺序</label>
        <div class="col-md-7">
          <input class="form-control" placeholder="" type="text" name="order" maxlength="10">
        </div>
    </div>    
  </div>
  <div class="mask-tip-btn algin-center">
    <button type="button" class="btn btn-success sure J_BSure">确认</button>
    <button type="button" class="btn btn-default-border cacel J_BCancel">取消</button>
  </div>
  </div>
</div>
  <div class="a-show-mask m-mask wtag zcvr dn"  id="sharemask"></div>
