<!-- 
 * 提示框重构
 * @author YJL 2015/04/28
 * -->

<div class="modal fade" >
    <div class="modal-table" style="z-index: 1001;position: relative;">
        <div class="modal-table-cell">
            <div class="modal-dialog modal-<%= errorLevel %>">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">取消</span></button>
                        <h4 class="modal-title"><%= title %></h4>
                    </div>

                    <%if($.isArray(content)){%>
                    <div class="modal-body" style="max-height: 300px;overflow: auto;">
                        <%for(var i=0;i<content.length;i++){%>
                            <p style="font-size: 14px;"><%= content[i] %></p>
                       <%}%>
                    <%}else{%>
                    <div class="modal-body" >
                        <p><%= content %></p>
                     <%}%>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="a-show-mask m-mask wtag zcvr" style="opacity: 0.5; display: block;"></div>
</div>