<!DOCTYPE html>
#html("static/js/require.js" )
<html lang="zh-CN">
    <title>登录</title>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
#head()
#end## end head

#body()
## #block("body")
	#block("m-login")
        #widget("widget/m-login/m-login.vm")
    #end
#end## # end of body
## 需要依赖一下自己，否则该 vm 中依赖没法自动加载进来。
#require("page/login/demo/login.vm")
## #end
#end## end of html
